<ion-view title="Order Details" id="page4" style="">

  <ion-content padding="false" class="has-header" scroll="true" style="top:0;">
  <br><br>
	<ion-list>
	<div class="row header  text-center" >
		<div class="col stable"><h4 class="stable">Item</h4></div>
		<div class="col stable"><h4 class="stable">Quantity</h4></div>
		<div class="col stable"><h4 class="stable">Cost</h4></div>
	</div>
	<div class="row  text-center" ><!--ng-repeat="data in ctrl.data"-->
		<div class="col"><h4>Rice</h4></div>
		<div class="col"><h4>158</h4></div>
		<div class="col"><h4>$1000</h4></div>
	</div>
	
	<div class="row  text-center" ><!--ng-repeat="data in ctrl.data"-->
		<div class="col"><h4>Meat</h4></div>
		<div class="col"><h4>85</h4></div>
		<div class="col"><h4>$1080</h4></div>
	</div>
	
	
	
	<div class="row  text-center" ><!--ng-repeat="data in ctrl.data"-->
		<div class="col"><h4></h4></div>
		<div class="col"><h5>Total</h5></div>
		<div class="col"><h5>$2080</h5></div>
	</div>
	</ion-list>
 </ion-content>
</ion-view>