<ion-view title="Order" id="page1">
  <ion-content padding="false" class="has-header" style="top:0;">
	<ion-list>
	<br><br>
	 <div style="margin-right:-20px;">
		<a ui-sref="menu.orderMenu" class=" button button-positive button-large button-full " style="left:-10px;border-radius:0px 0px 0px 0px;" id="report-button8"  ng-click="option('Regular Item')"">Regular</a><!--ui-sref="menu.reportShow"-->
		<a ui-sref="menu.orderMenu" class=" button button-positive button-large button-full " style="left:-10px;border-radius:0px 0px 0px 0px;" id="report-button8"  ng-click="option('Snacks Item')"">Snacks Item</a><!--ui-sref="menu.reportShow"-->
		<a ui-sref="menu.orderMenu" class=" button button-positive button-large button-full " style="left:-10px;border-radius:0px 0px 0px 0px;" id="report-button8"  ng-click="option('Custom Menu')">Custom Menu</a><!--ui-sref="menu.reportShow"-->
	</ion-list>
	</div>
  </ion-content>
</ion-view>