<ion-view title="Payment Summary" id="page4" style="">

  <ion-content padding="false" class="has-header" scroll="true" style="top:0;">
  <br><br>
	<ion-list>
	<div class="row header  text-center" >
		<div class="col stable"><h4 class="stable">No.</h4></div>
		<div class="col stable"><h4 class="stable">Amount</h4></div>
		<div class="col stable"><h4 class="stable">Payment Method</h4></div>
	</div>
	
	<div class="row  text-center" ><!--ng-repeat="data in ctrl.data"-->
		<div class="col"><h4>1</h4></div>
		<div class="col"><h4>158</h4></div>
		<div class="col"><h4>Card</h4></div>
	</div>
	
	<div class="row  text-center" ><!--ng-repeat="data in ctrl.data"-->
		<div class="col"><h4>2</h4></div>
		<div class="col"><h4>1505</h4></div>
		<div class="col"><h4>Card</h4></div>
	</div>

	</ion-list>
 </ion-content>
</ion-view>