<ion-view title="Total Summary" id="page4" style="">

  <ion-content padding="false" class="has-header" scroll="true"  style="top:0;">
  <br><br>
	<ion-list>
	
	<div class="row header  text-center" >
		<div class="col stable"><h4 class="stable">Total Due</h4></div>
		<div class="col stable"><h4 class="stable">Paid Amount</h4></div>
	</div>
	
	<div class="row  text-center" ><!--ng-repeat="data in ctrl.data"-->
		<div class="col"><h4>$1000</h4></div>
		<div class="col"><h4>$700</h4></div>
	</div>

	</ion-list>
 </ion-content>
</ion-view>